:root{
  --sidebar-flex:1.5;
  --condiv-flex:6;
  --fontsize-p:1.2rem;
  --fontsize-nav:1.6rem;
  --typing-font:3rem;
  }
  *
  {
  margin:0;
  padding: 0;
  }

.App {
  display: flex;
  width: 100vw;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #321677;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:10px;
}
.App-body{
  padding: calc(10px + 2vmin);
}
p, li{
  font-size: calc(6px + 2vmin);
  padding-left:10px;
  padding-right:10px;
}
.written{
  padding-top: 3%;
  padding-bottom: 6%;
  padding-left: 10%;
}
.App-link {
  color: #8a61fb;
}

ul{
  list-style: none; 
}

